h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}

.gallery{
    height: 320px;
}
